@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
  font-style: sans-serif;
  text-align: center;
  color: coral;
}

.about {
  color: #83adb5;
  font-family: sans-serif;
  text-align: center;
  background-color: #fbfcfe;
}

button {
  background-color: lemonchiffon !important;
  color: deeppink !important;
}
